$primario-color: black;
$secondario-color: rgb(235, 236, 245);
$terciario-color:rgb(181, 80, 101)


.quienessomos {
    font-size: 30px;
    text-align: center;
    p {
        color: rgb(0, 26, 255);
    }
    
}
