@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  height: 50px;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li a {
  color: #ebecf5;
  font-size: 18px;
}

header nav li a:hover {
  color: #b55065;
}

.listadogaleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque;
  width: 100%;
}

.red {
  color: #ebecf5;
}

.rose {
  color: #b55065;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

li {
  display: inline;
  padding: 25px;
}

a {
  text-decoration: none;
}

p {
  background-color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 20px;
}

h2 {
  font-size: 22px;
  height: auto;
  background-color: lightcoral;
  border: 2px solid black;
  padding: 5px;
  margin: 30px;
}

h4 {
  font-size: 22px;
  font-style: italic;
  margin: 40px;
  padding: 0,50px;
  background-color: whitesmoke;
}

.bordesimag {
  border: 2px solid black;
  width: 350px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.logoimag {
  border: 1px solid palevioletred;
  margin-left: 25px;
  margin-top: 20px;
  width: 350px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.encabezado {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.pie {
  display: -ms-grid;
  display: grid;
  grid-area: footer;
}

.ubicacion {
  margin-left: 400px;
}

footer {
  margin-top: 70px;
  margin-bottom: 30px;
}

footer p {
  color: #131212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (max-width: 500px) {
  .principal {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 5px;
  }
  .contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.redsocial {
  height: 70px;
  height: 70px;
}

.redessociales {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

form button {
  margin-top: 25px;
}

.bordesimag {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.elementogaleria {
  width: 50%;
}

@media (max-width: 800px) {
  .elementogaleria, .elementogaleria img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */