.bordesimag {
    animation-duration: 2s;
    animation-name: aparecer;
}

.elementogaleria {
    width: 50%;
}

.listadogaleria {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

@media (max-width: 800px) {
    .elementogaleria, .elementogaleria img {
        width: 100%;
    }
}